name: golangci-lint
on:
  push:
    branches: ['*']
    tags: ['v*']
  pull_request:
    branches: ['*']
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.19'
          check-latest: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.6.0
        with:
          version: latest
